@charset "UTF-8";

body{
    background-color: #05ffffcc;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #06b4b4
}
h1#principal{
        text-align: center;
}
h2{
    color: #429696
}
.basico{
    color: #05991d;
}
.intermediario{
    color: #a8a605
}
.avancado{
    color: #e704049c;
}